.main-landing {
  margin-bottom: 10rem;
  .main-part {
    // margin-top: 1.5rem;
    img {
      width: 100%;
    }
  }

  .secondary-part {
    margin-top: 1.5rem;
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;

    .article-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      //   &:not(:last-child) {
      //     margin-right: 2rem;
      //   }
      width: 100%;
      img {
        height: 45rem;
        width: 100%;
        background-size: cover;
      }
    }
  }
}
